* {
    padding: 0px;
    margin: 0px;
}

input[type=text]{
    border:1px solid black;
    border-radius: 4px;
    padding: 10px;
    width: 100%;

    &:focus{
        border:2px solid black;
    }
}